/* ##################################################
    Pond Reset - Start everything with a clean slate
   ################################################## */

html, body, div, span, applet, object, iframe, h1, 
h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, 
font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, .overlaycaption, figure, 
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%; }
    
ol, ul  { list-style: none; }

:focus  { outline: 0; }

/* deleting the default appearence for form elements */
input[type=text], input[type=password], input[type=submit], textarea, select { -moz-appearance: none; -webkit-appearance: none; }

.clearfix:after { content: ""; display: block; clear: both; visibility: hidden; font-size: 0;  height: 0; }
.clearfix { *display: inline-block; height: 1%; }
.clear { clear: both; display: block; font-size: 0; height: 0; line-height: 0; width:100%; }

/* HTML5 display definitions */
article, aside, details, .overlaycaption, figure, footer, header, hgroup, menu, nav, section, dialog { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; visibility: hidden; }

/* ############################################ */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Hind';
	text-shadow: 2px 2px #222;
	background: rgb(34,193,34); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(34,193,34,1) 0%, rgba(62,188,68,1) 25%, rgba(14,183,31,1) 50%, rgba(53,196,31,1) 75%, rgba(38,183,45,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(34,193,34,1) 0%,rgba(62,188,68,1) 25%,rgba(14,183,31,1) 50%,rgba(53,196,31,1) 75%,rgba(38,183,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(34,193,34,1) 0%,rgba(62,188,68,1) 25%,rgba(14,183,31,1) 50%,rgba(53,196,31,1) 75%,rgba(38,183,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22c122', endColorstr='#26b72d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
	

/* ##############
   Main Play Area
   ############## */
section {
	display: block;
	margin: 0 auto;
	padding: 16px 0;
	width: 100%;
	max-width: 500px;
}
	section h3 {
		display: block;
		font-size: 24px;
		color: white;
	}
	aside h3 {
		display: inline-block;
	}
.playfield {
	margin: 0 auto;
	padding: 10px;
	max-width: 420px;
	border: 3px ridge white;
	border-radius: 10px;
	text-align: center;
	color: white;
}

	.playfield:nth-of-type(2) { /* Results box is discrete! */
		height: 45px;
		border: 1px solid rgba(0,0,0,0);
		font-size: 18px;
		color: yellow;
	}
@media all and (min-width: 600px) {
	.playfield {
		position: relative;
		right: -80px;
	}
}


.controls {
	margin: 5px;
	background-color: white;
	border: 2px ridge black;
	color: red;
	font-weight: 600;
	font-size: 18px;
	width: 100px;
}
	.controls:disabled {
		background-color: grey;
		opacity: 1;
		color: black;
	}


/* Deck and Card stylings */
#deck {
	display: none;
}

.card {
	margin: 5px 2.5px;
}
	.card img {
		width: 90%;
		height: 90%;
	}

@media all and (min-width: 600px) {
	#deck {
		display: inline-block;
		position: relative;
		left: -75%;
		top: -34px;
	}
		#deck img {
			margin: 0;
			display: inline;
			position: relative;
		}
	.playfield:nth-of-type(2) > p {
		position: relative;
		top: -97px;
	}
}